body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #262626;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px #ccc;
}

header h1 {
  margin: 0;
  font-size: 20px;
}

header nav ul {
  display: flex;
  list-style: none;
  margin: 0;
}

header nav ul li {
  margin-left: 30px;
}

header nav ul li a {
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  color: #262626
}

header nav ul li a:hover {
  color: #888;
  text-decoration: underline;
}

.container {
  width: 100%;
  max-width: none;
  margin: 0;
  padding: 30px;
}

table {
  background-color: #fff;
}

table tbody tr {
  height: 75px;
}

table tbody tr td ul {
  margin: 0;
  padding-left: 10px;
}

.session-info {
  margin-bottom: 20px;
}

.session-info p {
  margin: 0;
}

.session-info ul {
  margin: 0;
}
