.session-detail {
  width: 100%;
  padding: 20px;
  background-color: #ffddd2;
  border-radius: 8px;
  text-align: left;
  box-shadow: 8px 8px 2px -3px rgba(235, 235, 235, 0.7);
}

.session-detail h2 {
  margin: 0;
  font-size: 18px;
  text-decoration: underline;
}

.session-detail p {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 14px;
  color: #1c2541;
  text-transform: uppercase;
}

.session-detail a {
  font-size: 14px;
  text-decoration: none;
}
